# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Docker
docker/mysql/data

# Laravel
src/vendor/
src/node_modules/
src/storage/logs/*
src/storage/framework/cache/*
src/storage/framework/sessions/*
src/storage/framework/views/*
src/bootstrap/cache/*
src/.env

# Composer
composer.lock